// -----------------------------------------------------------------------------
// BUTTONS
// -----------------------------------------------------------------------------

/**
 * Settings – override in `settings.scss`
 */
$disabled-button-bg: #eee !default;
$disabled-button-fg: #999 !default;



/**
 * Standard button
 *
 * 1. Remove default styles from `<button>` elements.
 * 2. Ensure `a:*` pseudo classes don’t override button styles.
 * 3. Remove extra height from `<button>` elements in Firefox.
 */
.button {
    @include default-transition((background-color, color));
    @include font-size(delta);
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 0; /* [1] */
    text-align: center;
    cursor: pointer;
    background-color: $color--primary;
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
    padding: 15px 35px;
    line-height: 13px;
    letter-spacing: 1px;
    
    &:hover,
    &:active,
    &:focus {
        text-decoration: none; /* [2] */
        color: #000;
        outline: 0;
        background-color: darken($color--primary, 10%);
    }

    &::-moz-focus-inner {
        border: 0; /* [3] */
        padding: 0; /* [3] */
    }
}



/**
 * Full-width button
 *
 * 1. 100% width required to make `<button>` elements fill container.
 */
.button--full-width {
    display: block;
    width: 100%; /* [1] */
}


.button--gap {
    margin-right: 7px;
}


/**
 * Disabled button
 */
.button--disabled,
.button:disabled {
    color: $disabled-button-fg;
    background-color: $disabled-button-bg;
    pointer-events: none;
}


.button--bare {
    background-color: transparent;

    &:hover,
    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
        background-color: transparent;
    }
}



/**
 * Button themes
 */
.button--secondary {
    &,
    &:active,
    &:focus {
        background-color: $color--secondary;
    }

    &:hover {
        background-color: darken($color--secondary, 10%);
    }
}
